In [3]:
import pandas as pd

mkt_data = pd.read_csv('datasets/marketing_data.csv', delimiter=';')
mkt_data.head(27)

,ID,Ano Nascimento,Escolaridade,Estado Civil,Salario Anual,Filhos em Casa,Adolescentes em Casa,Data Cadastro,Dias Desde Ultima Compra,Gasto com Eletronicos,...,Numero de Compras via Catalogo,Numero de Compras na Loja,Numero Visitas WebSite Mes,Compra na Campanha 1,Compra na Campanha 2,Compra na Campanha 3,Compra na Campanha 4,Compra na Campanha 5,Comprou,Pais
0,2795,1958,Mestrado,Solteiro,30523.0,2,1,07/01/2020,0,5,...,0,2,7,0,0,0,0,0,0,Chile
1,2285,1954,Mestrado,Casado,36634.0,0,1,05/12/2023,0,213,...,2,5,7,0,0,0,0,0,0,Espanha
2,115,1966,Mestrado,Solteiro,43456.0,0,1,03/02/2023,0,275,...,1,8,5,0,0,0,0,0,0,Argentina
3,10470,1979,Mestrado,Solteiro,40662.0,1,0,03/05/2023,0,40,...,1,3,4,0,0,0,0,0,0,Alemanha
4,4065,1976,Doutorado,Solteiro,49544.0,1,0,02/11/2020,0,308,...,1,8,7,0,0,0,0,0,0,Estados Unidos
5,10968,1969,Curso Superior,Solteiro,57731.0,0,1,11/04/2022,0,266,...,8,6,6,0,0,0,0,0,0,Argentina
6,5985,1965,Mestrado,Solteiro,33168.0,0,1,10/12/2022,0,80,...,1,4,7,0,0,0,0,0,0,Estados Unidos
7,5430,1956,Curso Superior,Casado,54450.0,1,1,09/04/2022,0,454,...,2,8,8,0,0,0,0,0,0,Estados Unidos
8,8432,1956,Curso Superior,Casado,54450.0,1,1,09/04/2022,0,454,...,2,8,8,0,0,0,0,0,0,Estados Unidos
9,453,1956,Doutorado,Divorciado,35340.0,1,1,6/07/2021,1,27,...,0,3,5,0,0,0,0,0,0,Estados Unidos
10,1826,1970,Curso Superior,Divorciado,84835.0,0,0,6/03/2021,0,189,...,4,6,1,0,0,0,0,0,1,Estados Unidos
11,1,1961,Curso Superior,Solteiro,57091.0,0,0,6/03/2021,0,464,...,3,7,5,0,0,0,0,1,1,Chile
12,10476,1958,Curso Superior,Solteiro,67267.0,0,1,5/07/2021,0,134,...,2,5,2,0,0,0,0,0,0,Portugal
13,1386,1967,Curso Superior,Casado,32474.0,1,1,05/11/2018,0,10,...,0,2,7,0,0,0,0,0,0,Brasil
14,5371,1989,Curso Superior,Solteiro,21474.0,1,0,04/08/2018,0,6,...,1,2,7,1,0,0,0,0,1,Estados Unidos
15,7348,1958,Doutorado,Solteiro,71691.0,0,0,3/02/2021,0,336,...,7,5,2,0,0,0,0,0,1,Estados Unidos
16,4073,1954,Segundo Grau,Solteiro,63564.0,0,0,1/07/2021,0,769,...,10,7,6,1,0,0,0,0,1,Alemanha
17,1991,1967,Curso Superior,Casado,44931.0,0,1,1/04/2021,0,78,...,1,3,5,0,0,0,0,0,0,Estados Unidos
18,4047,1954,Doutorado,Solteiro,65324.0,0,1,01/11/2018,0,384,...,2,9,4,0,0,0,0,0,0,Portugal
19,9477,1954,Doutorado,Solteiro,65324.0,0,1,01/11/2018,0,384,...,2,9,4,0,0,0,0,0,0,Argentina
20,2079,1947,Segundo Grau,Solteiro,81044.0,0,0,12/03/2023,0,450,...,6,10,1,0,0,0,0,0,0,Portugal
21,5642,1979,Mestrado,Casado,62499.0,1,0,12/09/2020,0,140,...,1,6,4,0,0,0,0,0,0,Estados Unidos
22,10530,1959,Doutorado,Divorciado,67786.0,0,0,12/07/2020,0,431,...,6,6,1,0,0,0,0,0,1,Argentina
23,2964,1981,Curso Superior,Solteiro,26872.0,0,0,10/01/2023,0,3,...,1,2,6,0,0,0,0,0,0,Chile
24,10311,1969,Curso Superior,Solteiro,4428.0,0,1,10/05/2020,0,16,...,0,0,1,0,0,0,0,0,0,Estados Unidos
25,837,1977,Curso Superior,Solteiro,54809.0,1,1,09/11/2020,0,63,...,1,5,4,0,0,0,0,0,0,Estados Unidos
26,10521,1977,Curso Superior,Solteiro,54809.0,1,1,09/11/2020,0,63,...,1,5,4,0,0,0,0,0,1,Estados Unidos

In [4]:
mkt_data = mkt_data.rename(columns= {
    'ID': 'ID',
    'Ano Nascimento': 'Year of Birth',
    'Escolaridade': 'Education Level',
    'Estado Civil': 'Marital Status',
    'Salario Anual': 'Annual Salary',
    'Filhos em Casa': 'Children at Home',
    'Adolescentes em Casa': 'Teenagers at Home',
    'Data Cadastro': 'Registration Date',
    'Dias Desde Ultima Compra': 'Days Since Last Purchase',
    'Gasto com Eletronicos': 'Spending on Electronics',
    'Gasto com Brinquedos': 'Spending on Toys',
    'Gasto com Moveis': 'Spending on Furniture',
    'Gasto com Utilidades': 'Spending on Utilities',
    'Gasto com Alimentos': 'Spending on Food',
    'Gasto com Vestuario': 'Spending on Clothing',
    'Numero de Compras com Desconto': 'Number of Discount Purchases',
    'Numero de Compras na Web': 'Number of Web Purchases',
    'Numero de Compras via Catalogo': 'Number of Catalog Purchases',
    'Numero de Compras na Loja': 'Number of Store Purchases',
    'Numero Visitas WebSite Mes': 'Number of Website Visits per Month',
    'Compra na Campanha 1': 'Purchase in Campaign 1',
    'Compra na Campanha 2': 'Purchase in Campaign 2',
    'Compra na Campanha 3': 'Purchase in Campaign 3',
    'Compra na Campanha 4': 'Purchase in Campaign 4',
    'Compra na Campanha 5': 'Purchase in Campaign 5',
    'Comprou': 'Purchased',
    'Pais': 'Country'
})

print(mkt_data.head(27))

       ID  Year of Birth Education Level Marital Status  Annual Salary  \
0    2795           1958        Mestrado       Solteiro        30523.0
1    2285           1954        Mestrado         Casado        36634.0
2     115           1966        Mestrado       Solteiro        43456.0
3   10470           1979        Mestrado       Solteiro        40662.0
4    4065           1976       Doutorado       Solteiro        49544.0
5   10968           1969  Curso Superior       Solteiro        57731.0
6    5985           1965        Mestrado       Solteiro        33168.0
7    5430           1956  Curso Superior         Casado        54450.0
8    8432           1956  Curso Superior         Casado        54450.0
9     453           1956       Doutorado     Divorciado        35340.0
10   1826           1970  Curso Superior     Divorciado        84835.0
11      1           1961  Curso Superior       Solteiro        57091.0
12  10476           1958  Curso Superior       Solteiro        67267.0
13   1386           1967  Curso Superior         Casado        32474.0
14   5371           1989  Curso Superior       Solteiro        21474.0
15   7348           1958       Doutorado       Solteiro        71691.0
16   4073           1954    Segundo Grau       Solteiro        63564.0
17   1991           1967  Curso Superior         Casado        44931.0
18   4047           1954       Doutorado       Solteiro        65324.0
19   9477           1954       Doutorado       Solteiro        65324.0
20   2079           1947    Segundo Grau       Solteiro        81044.0
21   5642           1979        Mestrado         Casado        62499.0
22  10530           1959       Doutorado     Divorciado        67786.0
23   2964           1981  Curso Superior       Solteiro        26872.0
24  10311           1969  Curso Superior       Solteiro         4428.0
25    837           1977  Curso Superior       Solteiro        54809.0
26  10521           1977  Curso Superior       Solteiro        54809.0

    Children at Home  Teenagers at Home Registration Date  \
0                  2                  1        07/01/2020
1                  0                  1        05/12/2023
2                  0                  1        03/02/2023
3                  1                  0        03/05/2023
4                  1                  0        02/11/2020
5                  0                  1        11/04/2022
6                  0                  1        10/12/2022
7                  1                  1        09/04/2022
8                  1                  1        09/04/2022
9                  1                  1         6/07/2021
10                 0                  0         6/03/2021
11                 0                  0         6/03/2021
12                 0                  1         5/07/2021
13                 1                  1        05/11/2018
14                 1                  0        04/08/2018
15                 0                  0         3/02/2021
16                 0                  0         1/07/2021
17                 0                  1         1/04/2021
18                 0                  1        01/11/2018
19                 0                  1        01/11/2018
20                 0                  0        12/03/2023
21                 1                  0        12/09/2020
22                 0                  0        12/07/2020
23                 0                  0        10/01/2023
24                 0                  1        10/05/2020
25                 1                  1        09/11/2020
26                 1                  1        09/11/2020

    Days Since Last Purchase  Spending on Electronics  ...  \
0                          0                        5  ...
1                          0                      213  ...
2                          0                      275  ...
3                          0                       40  ...
4                          0                      308  ...
5                          0                      266  ...
6                          0                       80  ...
7                          0                      454  ...
8                          0                      454  ...
9                          1                       27  ...
10                         0                      189  ...
11                         0                      464  ...
12                         0                      134  ...
13                         0                       10  ...
14                         0                        6  ...
15                         0                      336  ...
16                         0                      769  ...
17                         0                       78  ...
18                         0                      384  ...
19                         0                      384  ...
20                         0                      450  ...
21                         0                      140  ...
22                         0                      431  ...
23                         0                        3  ...
24                         0                       16  ...
25                         0                       63  ...
26                         0                       63  ...

    Number of Catalog Purchases  Number of Store Purchases  \
0                             0                          2
1                             2                          5
2                             1                          8
3                             1                          3
4                             1                          8
5                             8                          6
6                             1                          4
7                             2                          8
8                             2                          8
9                             0                          3
10                            4                          6
11                            3                          7
12                            2                          5
13                            0                          2
14                            1                          2
15                            7                          5
16                           10                          7
17                            1                          3
18                            2                          9
19                            2                          9
20                            6                         10
21                            1                          6
22                            6                          6
23                            1                          2
24                            0                          0
25                            1                          5
26                            1                          5

    Number of Website Visits per Month  Purchase in Campaign 1  \
0                                    7                       0
1                                    7                       0
2                                    5                       0
3                                    4                       0
4                                    7                       0
5                                    6                       0
6                                    7                       0
7                                    8                       0
8                                    8                       0
9                                    5                       0
10                                   1                       0
11                                   5                       0
12                                   2                       0
13                                   7                       0
14                                   7                       1
15                                   2                       0
16                                   6                       1
17                                   5                       0
18                                   4                       0
19                                   4                       0
20                                   1                       0
21                                   4                       0
22                                   1                       0
23                                   6                       0
24                                   1                       0
25                                   4                       0
26                                   4                       0

    Purchase in Campaign 2  Purchase in Campaign 3  Purchase in Campaign 4  \
0                        0                       0                       0
1                        0                       0                       0
2                        0                       0                       0
3                        0                       0                       0
4                        0                       0                       0
5                        0                       0                       0
6                        0                       0                       0
7                        0                       0                       0
8                        0                       0                       0
9                        0                       0                       0
10                       0                       0                       0
11                       0                       0                       0
12                       0                       0                       0
13                       0                       0                       0
14                       0                       0                       0
15                       0                       0                       0
16                       0                       0                       0
17                       0                       0                       0
18                       0                       0                       0
19                       0                       0                       0
20                       0                       0                       0
21                       0                       0                       0
22                       0                       0                       0
23                       0                       0                       0
24                       0                       0                       0
25                       0                       0                       0
26                       0                       0                       0

    Purchase in Campaign 5  Purchased         Country
0                        0          0           Chile
1                        0          0         Espanha
2                        0          0       Argentina
3                        0          0        Alemanha
4                        0          0  Estados Unidos
5                        0          0       Argentina
6                        0          0  Estados Unidos
7                        0          0  Estados Unidos
8                        0          0  Estados Unidos
9                        0          0  Estados Unidos
10                       0          1  Estados Unidos
11                       1          1           Chile
12                       0          0        Portugal
13                       0          0          Brasil
14                       0          1  Estados Unidos
15                       0          1  Estados Unidos
16                       0          1        Alemanha
17                       0          0  Estados Unidos
18                       0          0        Portugal
19                       0          0       Argentina
20                       0          0        Portugal
21                       0          0  Estados Unidos
22                       0          1       Argentina
23                       0          0           Chile
24                       0          0  Estados Unidos
25                       0          0  Estados Unidos
26                       0          1  Estados Unidos

[27 rows x 27 columns]

In [7]:
education_level_translation = {
    'Mestrado': "Master's",
    'Doutorado': 'Doctorate',
    'Ensino Médio': 'High School',
    'Bacharelado': "Bachelor's",
    'Ensino Fundamental': 'Basic Education'
}

marital_status_translation = {
    'Solteiro': 'Single',
    'Casado': 'Married',
    'Divorciado': 'Divorced',
    'Viúvo': 'Widowed'
}

country_translation = {
    'Chile': 'Chile',
    'Espanha': 'Spain',
    'Argentina': 'Argentina',
    'Alemanha': 'Germany',
    'Estados Unidos': 'United States',
    'Brasil': 'Brazil',
    'Portugal': 'Portugal'
}

mkt_data['Escolaridade'] = mkt_data['Escolaridade'].map(education_level_translation)
mkt_data['Estado Civil'] = mkt_data['Estado Civil	'].map(marital_status_translation)
mkt_data['Pais'] = mkt_data['Pais'].map(country_translation)

print(mkt_data.head(27))

KeyError: 'Escolaridade'

In [14]:
mkt_data.to_csv('datasets_transformed/translated_marketing_data.csv', index=False)